body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.painel{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.painel-menu{

}

.painel-item{

}

.painel-group{
	display: grid;
	grid-template-columns: 300px auto;
	width: 100%;
	height: 100%;
}

.painel-left{

}

.painel-left-title{
   font-size: 20px;
   font-weight: bold;
   padding: 7px 20px;
   margin-top: 30px;
   margin-bottom: -5px;
}

.painel-left-group{
	padding: 7px 20px;
	padding-bottom: 6px;
	border-bottom: 2px solid rgba(200,200,200, 0.05);
	display: grid;
	grid-template-columns: auto 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.painel-left-group:hover{
    background: rgba(200,200,200, 0.04);
}

.painel-left-item{

}

.painel-left-close{
	color: #fff;
	margin-top: -1px;
	background: rgba(200,200,200, 0.1);
	text-align: center;
	border-radius: 3px;
}

.painel-left-close:hover{
   background: rgba(200,200,200, 0.2);
}

.painel-left-close:active{
   background: rgba(200,200,200, 0.4);
}

.painel-right{
	padding: 40px;
	overflow-y: auto;
}

.painel-right:focus{
	border: none;
	box-shadow: 0 0 0 0;
	outline: none;
}

.folder{
   
}

.folder-item{
    padding: 7px 20px;
	padding-bottom: 6px;
	border-bottom: 2px solid rgba(200,200,200, 0.05);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.folder-item:hover{
    background: rgba(200,200,200, 0.04);
}

.folder-item:active{
   background: rgba(200,200,200, 0.07);
}

.folder-icon-button{
   display: inline;
   font-size: 13px;
   color: #47576c;
}